@import "./tailwind.css";

/* Map next/font CSS variables to handy classes */
.font-inter {
  font-family:
    var(--font-inter),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

.font-bricolage-grotesque {
  font-family:
    var(--font-bricolage-grotesque),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

.font-space-grotesk {
  font-family:
    var(--font-space-grotesk),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

/* Set default body text face */
html,
body {
  font-family:
    var(--font-inter),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

body {
  background-color: black;
  min-height: 100vh;
}
